@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@property --glow-size {
  syntax: "<length>";
  inherits: false;
  initial-value: 48px;
}

@view-transition {
    navigation: auto;
}


:root, ::backdrop{
    --font: "Inter", sans-serif;

    --font-size: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;

    --padding-outer: 16px;
    --padding-text: 16px;

    --padding-inner: 12px;
    --padding-line: 4px;

    --top-height: 196px;
    --top-text-height: 60px;
    --bottom-height: 64px;

    --moon-size: 128px;

    --tap-target: 48px;

    --border-radius: 24px;

    --pill-max-width: 352px;
    --pill-height: 72px;

    --app-max-width: calc(var(--pill-max-width) + var(--padding-outer) * 2);
}

body{
    font-family: var(--font);
    font-size: var(--font-size);

    line-height: 1.2;

    max-width: 100vw;
    max-height: 100vh;

    background-color: var(--tertiaryContainer);
    color: var(--onBackground);
}

.app {
    max-width: var(--app-max-width);
    margin: 0 auto;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--background);
    overflow-y: auto;
}

.moon-wrapper {
    justify-self: center;
}

.moon-wrapper.animate {
    animation: moon-enter 1s cubic-bezier(.7,.7,.3,1) forwards;
}

.moon {
    width: var(--moon-size);
    height: var(--moon-size);
    border-radius: 50%;
    background: radial-gradient(circle at 40% 20%, var(--onContainer), var(--container), var(--background));
    box-shadow:
        0 0 calc(var(--glow-size) * 1.0) calc(var(--glow-size) * 1.0) oklch(from var(--container) l c h / 0.1),
        0 0 calc(var(--glow-size) / 2.0) calc(var(--glow-size) / 2.0) oklch(from var(--container) l c h / 0.2),
        0 0 calc(var(--glow-size) / 4.0) calc(var(--glow-size) / 4.0) oklch(from var(--container) l c h / 0.2),
        0 0 calc(var(--glow-size) / 8.0) calc(var(--glow-size) / 8.0) oklch(from var(--container) l c h / 0.4);
}

.moon.animate {
    animation: moon-pulse 3s ease-in-out 1s infinite alternate;
}

@keyframes moon-enter{
    from {
        opacity: 1;
        transform: translateY(-256px) scale(2) rotate(120deg);
        filter: blur(16px);
        --glow-size: 128px;
    }
    to {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
        --glow-size: 48px;
        filter: blur(0px);
    }
}

@keyframes moon-pulse {
    from {
        --glow-size: 48px;
        transform: translateY(0px) translateX(0px) scale(1) rotate(0deg);
        filter: blur(0px);
    }
    50%  {
        --glow-size: 32px;
        transform: translateY(0px) translateX(0px) scale(1.01) rotate(5deg);
        filter: blur(1px);
    }
    to   {
        --glow-size: 64px;
        transform: translateY(0px) translateX(0px) scale(1) rotate(-5deg);
        filter: blur(0px);
    }
}

.head {
    height: 256px;
    background: linear-gradient(var(--surface) 50%, var(--background));
    display: grid;
    grid-template-rows: 1fr var(--top-text-height);
    align-items: center;
    overflow-y: hidden;
}

.titletext {
    height: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--font-size-xlarge);
    font-weight: bold;
}

.onBackgroundText {
    font-size: var(--font-size);
    font-weight: bold;
    padding: 0px calc(var(--padding-outer) * 2) 0px calc(var(--padding-outer) * 2);

    animation: text-enter 1s cubic-bezier(.7,.7,.3,1) forwards;
}

.content {
    padding: 0px var(--padding-outer) 0px var(--padding-outer);
    display: flex;
    flex-direction: column;
    gap: var(--padding-outer);
}

.halfcontainer {
    display: flex;
    flex-direction: row;
    gap: var(--padding-outer);
}

.halfmetric {
    width: calc(var(--pill-max-width) / 2 - var(--padding-outer) / 2);
    height: var(--pill-height);
    background-color: var(--surface);
    border-radius: var(--border-radius);
    padding: var(--padding-inner);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half-title {
    font-size: var(--font-size);
    font-family: var(--font);
    text-align: center;
    color: var(--onSurface);
}

.half-content {
    font-size: var(--font-size);
    font-family: var(--font);
    text-align: center;
    color: var(--primary);
}

.fullmetric {
    width: var(--pill-max-width);
    height: var(--pill-height);
    background-color: var(--surface);
    border-radius: var(--border-radius);
    padding: var(--padding-inner) var(--padding-outer) var(--padding-inner) var(--padding-outer);
    display: flex;
    flex-direction: row;
}

.full-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-button {
    border-radius: var(--border-radius);
    background-color: var(--container);
    height: var(--tap-target);
    width: var(--tap-target);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: auto;
    font-size: var(--font-size-large);
    font-weight: bold;
}

.full-title {
    font-size: var(--font-size-large);
    font-family: var(--font);
    text-align: left;
    color: var(--primary);
    height: 28px;
}

.full-content {
    font-size: var(--font-size);
    font-family: var(--font);
    text-align: left;
    color: var(--onSurface);
    height: 16px;
}

@keyframes text-enter {
    from {
        opacity: 0;
        transform: translateY(-16px);
        filter: blur(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0px);
    }
}